<h1>Course Show Page</h1>
<hr>
<h2>Course Name: <%= @course.name %></h2>
<h2>Students By Grade: </h2>
<section id='course-<%=@course.id%>'>
   <% @course.course_students_by_grade.each do |course_student| %>
   <%= course_student.student.name %>
   <%= button_to "Unenroll", "/courses/students/:id", method: :delete %>
   <p>Grade: <%= course_student.grade %></p>
   <% end  %>
 </section>
 <%= form_tag "/students/:id", method: :post do %>
 <%= label_tag :name %>
 <%= text_field_tag :name, "Name" %>
 <%= submit_tag "Submit" %>
 <% end %>
<hr>
